<div class="page-container" fxLayout fxLayoutAlign="center">
  <form *ngIf="!(authService.isLoggedIn$|async)" [formGroup]="form" fxLayout="column">
    <div class="header">login</div>
    <mat-form-field>
      <input type="text" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput formControlName="password">
    </mat-form-field>
    <button mat-raised-button (click)="onSubmit()">submit</button>
  </form>
  <div class="message">{{message}}</div>
</div>
