<div class="page-container" fxLayout="column" fxLayoutGap="1rem">
  <div class="commands" fxLyout="column">
    <div class="command"
      *ngFor="let command of commands$|async" fxLayout>
      <div class="command-command">{{command.command}}</div>
      <ul class="command-list-items">
        <li class="command-list-item" *ngFor="let listItem of command.effectListItems">
          {{listItem}}
        </li>
      </ul>
      <div class="buttons" fxLayout fxLayoutGap="1rem">
        <div (click)="onEdit( command)" class="edit">E</div>
        <div (click)="onDelete( command.id)" class="delete">D</div>
      </div>
    </div>
  </div>

  <button color="primary" mat-raised-button (click)="onAddCommand()">add command</button>
</div>
