* {
    font-size: 0.8rem;
}
.page-container {
    .commands {
        margin: 0;
        padding: 0;
        .command {
            border-bottom: 1px solid #ccc;
            .command-command {
                padding: 0 1rem;
                width: 16rem;
                text-indent: -1rem;
                line-height: 1rem;
            }
            .command-list-items {
                margin: 0;
                width: 100%;
            }
            .buttons {
                width: 3;
                height: 0.5rem;
                .edit {
                    color: green;
                    font-weight: bolder;
                    cursor: pointer;
                }
                .delete {
                    color: red;
                    font-weight: bolder;
                    cursor: pointer;
                }
            }
        }
    }
}
