<a href="https://medium.com/@Idan_Co/angular-print-service-290651c721f9">https://medium.com/@Idan_Co/angular-print-service-290651c721f9</a> <br>

<div class="test"
    id="test"
    #test>test</div>
<button (click)="onPrint()">print</button>

<button (click)="onInvoice()">invoice</button>
<table>
    <thead>
        <tr>
            <td>
                <div class="header-space">&nbsp;</div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <div class="footer-space">&nbsp;</div>
            </td>
        </tr>
    </tfoot>
</table>

<div class="header">COOL HEADER</div>
<div class="footer">AWESOME FOOTER</div>
