<div class="page-container" fxLayout="column" fxLayoutGap="1rem">
  <form [formGroup]="commandsForm" fxLayout="column">
    <div class="heCommand">definitions</div>
    <mat-form-field>

      <input type="text" matInput formControlName="command" placeholder="command">
    </mat-form-field>
    <div class="command-list-items" formArrayName="effectListItems">
      <div class="form-group"
        *ngFor="let instrumentControl of getInstrumentControls(); let i = index">

        <mat-form-field>
          <textarea
            type="text"
            matInput
            [formControlName]="i"
            rows="2"
            placeholder="command list item">
          </textarea>
        </mat-form-field>
      </div>
      <button
        class="add-command-list-item" (click)="onAddEffectListItem()">add command list item
      </button>
    </div>
    <button
      [disabled]="commandsForm.invalid"
      mat-raised-button
      (click)=" onSubmitCommand()">{{editmode ? 'save edits' : 'submit command'}}</button>
    <button mat-dialog-close mat-raised-button>cancel</button>
  </form>
</div>
