<div class="page-container" fxLayout="column" fxLayoutGap="1rem">
  <form [formGroup]="commandsForm" fxLayout="column">
    <div class="heCommand">definitions</div>
    <mat-form-field>

      <input type="text" matInput formControlName="command" placeholder="item">
    </mat-form-field>
    <mat-form-field>

      <textarea type="text" matInput formControlName="effect" cols="30" rows="5" placeholder="definition"></textarea>
    </mat-form-field>
    <button
      [disabled]="commandsForm.invalid"
      mat-raised-button
      (click)=" onSubmitCommand()">{{editmode ? 'save edits' : 'submit command'}}</button>
    <button mat-dialog-close mat-raised-button>cancel</button>
  </form>
</div>
