<div class="page-container" fxLayout="column" fxLayoutGap="1rem">
  <div class="definitions" fxLayout="column">
    <div class="definition"
      *ngFor="let definition of definitions$|async"
      fxLayout>
      <div class="topic">{{definition.topic}}</div>
      <ul class="definition-list-items">
        <li class="definition-list-item" *ngFor="let listItem of definition.definitionListItems">
          {{listItem}}
        </li>
      </ul>
      <div class="buttons" fxLayout fxLayoutGap="1rem">
        <div (click)="onEdit(definition)" class="edit">E</div>
        <div (click)="onDelete(definition.id)" class="delete">D</div>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="onAddDefinition()">add definition</button>
</div>
