<p>js-qrscanner works!</p>
<div class="row-element-set row-element-set-QRScanner">
    <h1>JsQRScanner example</h1>
    <div class="row-element">
        <div class="FlexPanel detailsPanel QRScannerShort">
            <div class="FlexPanel shortInfoPanel">
                <div class="gwt-HTML">
                    Point the webcam to a QR code.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row-element">
        <div class="qrscanner"
            id="scanner">
        </div>
    </div>
    <div class="row-element">
        <div class="form-field form-field-memo">
            <div class="form-field-caption-panel">
                <div class="gwt-Label form-field-caption">
                    Scanned text
                </div>
            </div>
            <div class="FlexPanel form-field-input-panel">
                <textarea id="scannedTextMemo"
                    class="textInput form-memo form-field-input textInput-readonly"
                    rows="3"
                    readonly>
            </textarea>
            </div>
        </div>
        <div class="form-field form-field-memo">
            <div class="form-field-caption-panel">
                <div class="gwt-Label form-field-caption">
                    Scanned text history
                </div>
            </div>
            <div class="FlexPanel form-field-input-panel">
                <textarea id="scannedTextMemoHist"
                    class="textInput form-memo form-field-input textInput-readonly"
                    value=""
                    rows="6"
                    readonly>
            </textarea>
            </div>
        </div>
    </div>
    <br>
    <a style="font-weight: bold;"
        href="https://github.com/jbialobr/JsQRScanner">The source code is hosted on GitHub</a>
</div>
