<div class="page-container" fxLayout="column" fxLayoutGap="1rem">
  <form [formGroup]="definitionsForm" fxLayout="column">
    <div class="header">definitions</div>
    <mat-form-field>
      <input type="text" matInput formControlName="topic" placeholder="topic">
    </mat-form-field>

    <div class="definition-list-items" formArrayName="definitionListItems">
      <div
        class="form-group"
        *ngFor=" let instrumentControl of getInstrumentControls(); let i = index">
        <mat-form-field>
          <textarea
            matInput
            type="text"
            class="form-control"
            [formControlName]="i"
            rows="2"


            placeholder="definition list item">
          </textarea>
        </mat-form-field>
      </div>
      <button
        class="add-definition-list-item"
        type="button"
        (click)="onAddDefinitionListItem()">
        add definition list item
      </button>
    </div>

    <button
      [disabled]="definitionsForm.invalid"
      mat-raised-button
      (click)=" onSubmitDefinition()">
      {{editmode ? 'save edits' : 'submit definition'}}
    </button>
    <button mat-dialog-close mat-raised-button>cancel</button>
  </form>
</div>
