<div class="page-container">
    <a href="https://openbase.com/js/ngx-qrcode-styling-angular">https://openbase.com/js/ngx-qrcode-styling-angular</a>
    <a href="https://www.positronx.io/angular-pdf-tutorial-export-pdf-in-angular-with-jspdf/">Angular 13 PDF Tutorial – Export PDF in Angular with JSPDF</a>

    <div id="printData"
        class="print-data">
        <div class="mochuco">mochuco</div>
        <ngx-qrcode-styling [config]="config"></ngx-qrcode-styling>
        <div class="object-name">object name</div>
        <!-- <img src="'./../../../../assets/Images/tba.jpg"
            alt=""> -->
    </div>

    <button class="btn btn-success btn-block"
        (click)="openPDF()">Download PDF
    </button>
</div>
