.buttons {
}
.portrait-container {
    // height: 100px;
    width: 100%;
    background-color: blue;
    border: 3px solid black;
}

.portrait-image {
    width: 100%;
}

.landscape-container {
    // height: 100px;
    // width: 100px;
    background-color: red;
    border: 3px solid lightgray;
}

.landscape-image {
    width: 100%;
}