<p>print works!</p>

<a href="https://medium.com/@Idan_Co/angular-print-service-290651c721f9">https://medium.com/@Idan_Co/angular-print-service-290651c721f9</a>
<a href="https://www.devildoxx.com/angular/print-html-angular-9/">https://www.devildoxx.com/angular/print-html-angular-9/</a>
<div #a
    class="section-a">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit exercitationem, sit distinctio eligendi illo praesentium at reprehenderit neque dignissimos doloremque?
</div>
<button (click)="onPrintA()">print A</button>
<hr>
<div #b>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod impedit iste hic architecto quas libero fugit quam atque. Beatae dolor accusamus nesciunt vero voluptatem corrupti est porro provident vel sunt!
</div>
<button (click)="onPrintB()">print B</button>

<div class="router">
    <router-outlet></router-outlet>
</div>
