<div class="page-container">
    <a href="https://www.positronx.io/angular-pdf-tutorial-export-pdf-in-angular-with-jspdf/"
        target="_blank">
        https://www.positronx.io/angular-pdf-tutorial-export-pdf-in-angular-with-jspdf/
    </a>
    <a href="https://artskydj.github.io/jsPDF/docs/jsPDF.html">https://artskydj.github.io/jsPDF/docs/jsPDF.html</a>
    <div id="printData"
        class="printData">
        <img src="./../../assets/Images/tba.jpg"
            alt="">

        <ul>
            <li *ngFor="let user of USERS">
                <div class="id">{{user.id}}</div>
                <div class="name">{{user.name}}</div>
                <div class="email">{{user.email}}</div>
                <div class="phone">{{user.phone}}</div>
            </li>
        </ul>
    </div>

    <button class="btn btn-success btn-block"
        (click)="openPDF()">Download PDF
    </button>
</div>
